requests
mkdocs
mkdocs-material
Pygments
markdown
#https://facelessuser.github.io/pymdown-extensions/about/contributing/
pymdown-extensions
#https://github.com/facelessuser/mkdocs-material-extensions
mkdocs-material-extensions
#https://github.com/timvink/mkdocs-git-revision-date-localized-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-git-authors-plugin
mkdocs-ezlinked-plugin
mkdocs-encryptcontent-plugin
mkdocs-callouts
mkdocs-custom-tags-attributes
mkdocs-static-i18n
mkdocs-meta-descriptions-plugin
mkdocs-glightbox
mkdocs-minify-plugin
mkdocs-exclude
mkdocs-literate-nav